  <img class="imglogo" src="../assets/imagenes/logo2020.png" >
  <nav id="index" style="text-align: center;">
    <ul>
     <li> <a routerLink="/index">Inicio</a></li> <li class="barrita"> | </li>
     <li> <a routerLink="/contactos"> Contactos </a></li><li class="barrita"> | </li>
     <li> <a routerLink="/productos"> Productos y Servicios </a></li><li class="barrita"> | </li>
     <li> <a routerLink="/quienessomos"> Quiénes Somos </a></li><li class="barrita"> | </li>
     <li> <a routerLink="/equipo"> Conoce a Nuestro Equipo </a></li><li class="barrita"> | </li>
     <li> <a routerLink="/Promo"> Promos </a></li><li class="barrita"> | </li>
     <li> <a routerLink="/gestion"> Gestionar Productos </a></li><li class="barrita"> | </li>
    
     
    </ul>
   </nav>  

